body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 4.2rem;
  color: #2c2c2c;
}
code {
  font-size: 2rem;
  white-space: pre;
  /*line-height: 1;*/
}
.slide {
  width: 1024px;
}
