<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta name="viewport" content="width=1024">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: DevOps CM Kata Presentation</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{{content}}}
        <script src="bower_components/impress.js/js/impress.js"></script>
        <script>impress().init();</script>
    </body>
</html>
