<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: DevOps CM Kata Presentation</title>
        {{> stylesheets }}
    </head>
    <body>
        {{{content}}}
        {{> scripts }}
    </body>
</html>
