<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="{{author}}">
        <meta property="dcterms:modified" content="{{timestamp}}">
        <title>James Benner: DevOps CM Kata Presentation</title>
        <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="bower_components/reveal.js/css/theme/black.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/zenburn.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        {{{content}}}
        <script src="bower_components/reveal.js/js/reveal.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
        <script>
            Reveal.initialize();
            hljs.initHighlightingOnLoad();
        </script>
    </body>
</html>
