<h2><em>&ldquo;What Are Some Alternatives?&rdquo;</em></h2>
<p>
    <ul>
        <li>LEMP Stack</li>
        <li>PHP-FPM + Apache MPM</li>
        <li>HHVM + Nginx</li>
        <li>Adding a Varnish Frontend to Any of the Above.</li>
    </ul>
</p>
