<h2><em>&ldquo;What Are Some Alternatives?&rdquo;</em></h2>
<p>
    <ul>
        <li>LEMP Stack
        <li>PHP-FPM + Apache MPM
        <li>HHVM + Nginx
        <li>Adding a Varnish Frontend to Any of the Above.
    </ul>
</p>
