<h2><em>&ldquo;Who the Heck Is This Guy?&rdquo;</em></h2>
<pre>
    <code class="hljs json">
{
    "@context": "http://www.w3.org/2006/vcard/ns",
    "@type": "Individual",
    "fn": "James Benner",
    "hasURL": "http://www.jamesbenner.com",
    "hasURL": "https://github.com/jbenner-radham",
    "hasURL": "https://github.com/radioactivehamster"
}
    </code>
</pre>
