<h2><em>&ldquo;Why a LAMP Stack?&rdquo;</em></h2>
<p>
    <ul>
        <li>It's a well established and widely used stack.</li>
        <li>It has widespread tooling support due to the above.</li>
    </ul>
</p>
