<div id="impress">
    <div class="step slide" data-x="-1000" data-y="-1024">
        <strong>DevOps CM Kata</strong><br>
        <i>or</i><br>
        <strong>Automagically Provisioning a Server</strong>
    </div>

    <div class="step slide" data-x="0" data-y="-1800">
        <strong><q>Who the Heck Is This Guy?</q></strong>
        <code>
        {
            "@context": "http://www.w3.org/2006/vcard/ns",
            "@type": "Individual",
            "fn": "James Benner",
            "hasURL": "http://www.jamesbenner.com",
            "hasURL": "https://github.com/jbenner-radham"
        }
        </code>
    </div>
</div> <!-- #impress -->
