<div class="reveal">
    <div class="slides">
        <section>
    {{> title }}
        </section>

        <section>
    {{> who-the-heck-is-this-guy }}
        </section>

        <section>
    {{> why-a-lamp-stack }}
        </section>

        <section>
    {{> what-are-some-alternatives }}
        </section>

        <section>
    {{> kickstarting-from-vagrant }}
        </section>

        <section>
    {{> starting-out-with-our-playbook }}
        </section>

        <section>
    {{> our-apt-task }}
        </section>

        <section>
    {{> installing-apache }}
        </section>

        <section>
    {{> configuring-apache }}
        </section>

        <section>
    {{> installing-git }}
        </section>

        <section>
    {{> installing-mariadb }}
        </section>
    </div> <!-- .slides -->
</div> <!-- .reveal -->
